
.background_textColor {
  background-color : #002040;
  color : white;
  font-family: Helvetica;
}

.theDivExplorer {

  border : 1px solid none;
  border-shadow : grey;
  height : 660px;
  width : 200px;
  background-color : #003050;
}

.folder{
  color: red;
}

.file{

  color: yellow;
}
