
.theDivExplorer {
  border : 1px solid none;
  height : 660px;
  width : 200px;
}

.folder {
  font-size: 11px;
}

.folder:hover {
  font-size: 11px;
}

.child {
  margin-left: 10px;
}

.file {
  font-size: 10px;
}

.file:hover {
  font-size: 10px;
}

.toggle, .icon {

    width: 20px;
    height: 20px;
}
.icon {
  margin-left:3px;
}

.item-info div {
  display: inline-block;
}

.child {
  display: none;
}
