.CodeMirror pre {
    padding: 0 10px;
}

.CodeMirror-selected {
    background: #007DC5;
    color: #FFF;
}

.CodeMirror-focused .CodeMirror-selected {
    background: #007DC5;
    color: #FFF;
}

.CodeMirror ::selection, .cm-s-askia.CodeMirror ::selection {
    background: #007DC5;
    color: #FFF;
}

.CodeMirror ::-moz-selection, .cm-s-askia.CodeMirror ::-moz-selection {
    background: #007DC5;
    color: #FFF;
}

.cm-s-askia.CodeMirror {
    background: #282C34;
    color: #f8f8f2;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 14px;
}

.cm-s-askia div.CodeMirror-selected {
    background: #007DC5 !important;
    color: #FFF !important;
}

.cm-s-askia .CodeMirror-gutters {
    background: #282C34;
    border-right: 1px solid #2C323B;
}

.cm-s-askia .CodeMirror-guttermarker {
    color: white;
}

.cm-s-askia .CodeMirror-guttermarker-subtle {
    color: #d0d0d0;
}

.cm-s-askia .CodeMirror-linenumber {
    color: #666;
}

.cm-s-askia .CodeMirror-cursor {
    border-left: 2px solid #007DC5 !important;
}
/*
.cm-s-askia span.cm-comment {
    color: #AAA;
}

.cm-s-askia span.cm-atom {
    color: #AE81FF;
}
.cm-s-askia span.cm-number {
    color: #AE81FF;
}

.cm-s-askia span.cm-property, .cm-s-askia span.cm-attribute {
    color: #A6E22E;
}

.cm-s-askia span.cm-keyword {
    color: #F92672;
}

.cm-s-askia span.cm-string {
    color: #E6DB74;
}

.cm-s-askia span.cm-variable {
    color: #F8F8F2;
}
.cm-s-askia span.cm-variable-2 {
    color: #9EFFFF;
}

.cm-s-askia span.cm-variable-3 {
    color: #66D9EF;
}

.cm-s-askia span.cm-def {
    color: #FD971F;
}

.cm-s-askia span.cm-bracket {
    color: #F8F8F2;
}

.cm-s-askia span.cm-tag {
    color: #F92672;
}

.cm-s-askia span.cm-link {
    color: #AE81FF;
}

.cm-s-askia span.cm-error {
    background: #F92672;
    color: #F8F8F0;
}*/

.cm-s-askia .CodeMirror-activeline-background {
    background: #2C323B !important;
}

.cm-s-askia .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: #FFF !important;
}

.CodeMirror-activeline .CodeMirror-linenumber {
    color: #AAA !important;
}


/* NEW 20150806 - A VALIDER */
.cm-s-askia span.cm-keyword { color: rgba(199, 146, 234, 1); }
.cm-s-askia span.cm-operator { color: rgba(233, 237, 237, 1); }
.cm-s-askia span.cm-variable-2 { color: #80CBC4; }
.cm-s-askia span.cm-variable-3 { color: #82B1FF; }
.cm-s-askia span.cm-builtin { color: #DECB6B; }
.cm-s-askia span.cm-atom { color: #F77669; }
.cm-s-askia span.cm-number { color: #F77669; }
.cm-s-askia span.cm-def { color: rgba(233, 237, 237, 1); }
.cm-s-askia span.cm-error {
  color: rgba(255, 255, 255, 1.0);
  background-color: #EC5F67;
}
.cm-s-askia span.cm-string { color: #C3E88D; }
.cm-s-askia span.cm-string-2 { color: #80CBC4; }
.cm-s-askia span.cm-comment { color: #546E7A; }
.cm-s-askia span.cm-variable { color: #82B1FF; }
.cm-s-askia span.cm-tag { color: #80CBC4; }
.cm-s-askia span.cm-meta { color: #80CBC4; }
.cm-s-askia span.cm-attribute { color: #FFCB6B; }
.cm-s-askia span.cm-property { color: #80CBAE; }
.cm-s-askia span.cm-qualifier { color: #DECB6B; }
.cm-s-askia span.cm-variable-3 { color: #DECB6B; }
.cm-s-askia span.cm-tag { color: rgba(255, 83, 112, 1); }
