/* ========================================

    CSS for ADX STUDIO THEMES.
    This will serve to change theme of the application.

   ======================================== */

/* ========================================
    Share styling
   ======================================== */
html {
    text-rendering          : optimizeLegibility !important;
    -webkit-font-smoothing  : antialiased !important;
}

body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body.grey {
    background: #111;
}

body.form-viewer {
    background  : #282C34;
    color       : #BBB;
    line-height : 1.7;
    font-size   : 14px;
}

body.form-viewer a {
    color: #BBB;
}

h3 {
    font-size   : 14px;
    font-weight : bold;
    color       : #007DC5;
}

fieldset {
    border-width: 0 0 1px 0;
    border-color: #606979;
    margin-top  : 20px;
}

legend {
    font-size   : 18px;
    font-weight : bold;
}

label, input[type="checkbox"] {
    cursor: pointer;
}

input, textarea {
    border-radius   : 2px;
    border          : 1px solid #151515;
    background-color: #21252B;
    color           : #BBB;
}

select {
    background-color: #343A44;
    border-radius   : 2px;
    color           : #BBB;
    border          : 1px solid #151505;
    cursor          : pointer;
}

textarea {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

input[readonly] {
    color: #545961;
}

input:focus, input:active, textarea:focus, textarea:active, select:focus, select:active {
    border  : 1px solid #007DC5;
    outline : none;
}

.splitter {
    background: transparent;
}
.splitter.drag {
    background  : rgba(33,33,33,.3);
    cursor      : ne-resize;
}

/* ========================================
   Explorer Part
   ======================================== */

.toggle {
  background-image  : url(adxs-toggle-closed.png);
  width             : 20px;
  height            : 20px;
}

.file > .item-info > .toggle, .file > .item-info:hover > .toggle {
  background-image: none;
}

.item-info:hover .toggle {
  background-image  : url(adxs-toggle-closed-hover.png);
  width             : 20px;
  height            : 20px;
}

.toggle.open {
  background-image  : url(adxs-toggle-open.png);
  width             : 20px;
  height            : 20px;
}

.item-info:hover .toggle.open {
  background-image  : url(adxs-toggle-open-hover.png);
  width             : 20px;
  height            : 20px;
}

#root > .item-info > .icon {
  background-image  : url(adxs-folder.png);
  display           : inline-block;
  width             : 20px;
  height            : 20px;
  transition        : background-image ease-in .2s;
}

.folder > .item-info > .icon {
  background-image  : url(adxs-folder.png);
  display           : inline-block;
  width             : 20px;
  height            : 20px;
  transition        : background-image ease-in .2s;
}

.folder > .item-info:hover > .icon {
  background-image: url(adxs-folder-hover.png);
}

.file > .item-info > .icon {
  background-image  : url(adxs-file.png);
  display           : inline-block;
  width             : 20px;
  height            : 20px;
  transition        : background-image ease-in .2s;
}

.file > .item-info:hover > .icon {
  background-image: url(adxs-file-hover.png);
}

.file > .selected > .icon {
    background-image: url(adxs-file-active.png);
}

.item-info {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    white-space     : nowrap;
    padding         : 2px 0;
    width           : 100%;
    transition      : all ease-in .2s;
}

.name {
  flex      : 1;
  align-self: center;
  font-size : 14px;
  padding   : 0 0 0 8px;
}

.folder {
  color     : #BBB;
  cursor    : pointer;
  transition: color ease-in .2s;
}

.folder:hover {
  color: #DDD;
}

.file {
  cursor    : pointer;
  color     : #BBB;
  transition: color ease-in .3s;
}

.file:hover {
  color: #DDD;
}

.selected {
  background-color: #151515;
}

.selected > .name {
    color: #EEE;
}

/* TODO::IS THIS CLASS IS USED??? --- */
.theDivExplorer {
  background-color : #003050;
}
/* --- END TODO */


/* ========================================
   WorkSpace Part
   ======================================== */

.tabs-wrapper {
    max-width : calc(100% - 50px);
}

.tabs-scroll {
    width: 50px;
}

.tab, .tabs-scroll div {
    background      : #21252B;
    border-right    : 1px solid #111;
    border-bottom   : 1px solid #111;
    cursor          : pointer;
    font-size       : 14px;
    color           : #B0B0B0;
    padding         : 10px;
    position        : relative;
    height          : 24px;
    line-height     : 23px;
    transition      : color ease-in .3s;
}

.tabs-scroll div    {
    margin          : 0;
    padding         : 10px 2px;
    vertical-align  : middle;
}

.tab:hover, .tabs-scroll div:hover {
    color: #DDDDDD;
}

.scroll-left, .scroll-right {
    border: 0;
}

.tab-icon {
    background-image: url(adxs-file-tab.png);
    display         : inline-block;
    width           : 20px;
    height          : 20px;
}

.tab-close {
    background-image: url(adxs-close.png);
    width           : 20px;
    height          : 20px;
    visibility      : hidden;
    transition      : visibility ease-in .2s;
}
.tab:hover .tab-close {
    visibility: visible;
}

.tab-placeholder {
    background: #111;
}

.tabs-scroll, .tab-end {
    background      : #21252B;
}

.tab.active {
    background          : #282C34;
    color               : #FFF;
    border-bottom-color : transparent;
}

.tab.edit {
  font-style: italic;
}

.pane.focused .tab.active::before {
    position        : absolute;
    display         : block;
    width           : 4px;
    content         : ' ';
    background-color: #007DC5;
    height          : 100%;
    top             : 0;
    left            : 0;
}

.pane {
    background-color: #21252B;
}

.pane .placeholder {
    text-align  : center;
    line-height : 1.3;
    font-size   : 2.6rem;
    font-weight : 700;
    color       : #2E333A;
}

.pane .content,
#iframes .content {
    background-color: #21252B;
}

/* ========================================
   Preview Part
   ======================================== */

#addressURL[readonly] {
    color : #BBB;
}


/* ========================================
   Viewer Part - Project Settings
   ======================================== */
.viewer-project-settings nav {
    background-color: #21252B;
    border-right    : 1px solid #111;
}

.viewer-project-settings nav a {
    color           : #BBB;
    background-color: #282C34;
    text-decoration : none;
    cursor          : pointer;
    border-bottom   : 1px solid #151515;
    box-shadow      : 0 1px 0 rgba(255,255,255,.05) inset;
    transition      : background-color ease-in .2s, color ease-in .2s;
}

.viewer-project-settings nav ul li:first-child a.active {
    box-shadow: 0 1px 0 rgba(255,255,255,.2) inset;
}

.viewer-project-settings nav a.active, .viewer-project-settings nav a.active:hover {
    color           : #fff;
    background-color: #007DC5;
    box-shadow      : 0 1px 0 rgba(255,255,255,.2) inset;
}

.viewer-project-settings nav a:hover {
    background-color: #30343E;
    color           : #DDD;
}

.viewer-project-settings #properties_table tbody tr,
.viewer-project-settings #contents tbody tr {
    transition: background-color ease-in .2s;
}

.viewer-project-settings #properties_table tbody tr:nth-child(4n+1),
.viewer-project-settings #properties_table tbody tr:nth-child(4n+2),
.viewer-project-settings #contents tbody tr:nth-child(odd) {
    background-color: #21252b;
    transition      : background-color ease-in .2s;
}

.viewer-project-settings #properties_table tbody tr:hover:not(.editable),
.viewer-project-settings #contents tbody tr:hover:not(.editable) {
    background-color: #363C46;
}
