/* ========================================

    CSS for ADX STUDIO THEMES.
    This will serve to change Theme of the Application.

   ======================================== */

/* ========================================
    Share styling
   ======================================== */
body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body.grey {
    background: #111;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.splitter {
    background: transparent;
}
.splitter.drag {
    background: #333;
    cursor: ne-resize;
}


/* ========================================
   Explorer Part
   ======================================== */

.toggle {
  background-image: url(adxs-toggle-closed.png);
  width: 20px;
  height: 20px;
}

.file > .item-info > .toggle, .file > .item-info:hover > .toggle {
  background-image: none;
}

.item-info:hover .toggle {
  background-image: url(adxs-toggle-closed-hover.png);
  width: 20px;
  height: 20px;
}

.toggle.open {
  background-image: url(adxs-toggle-open.png);
  width: 20px;
  height: 20px;
}

.item-info:hover .toggle.open {
  background-image: url(adxs-toggle-open-hover.png);
  width: 20px;
  height: 20px;
}

.folder > .item-info > .icon {
  background-image: url(adxs-folder.png);
  display: inline-block;
  width: 20px;
  height: 20px;
}

.folder > .item-info:hover > .icon {
  background-image: url(adxs-folder-hover.png);
}

.file > .item-info > .icon {
  background-image: url(adxs-file.png);
  display: inline-block;
  width: 20px;
  height: 20px;
}

.file > .item-info:hover > .icon {
  background-image: url(adxs-file-hover.png);
}

.file > .selected > .icon {
    background-image: url(adxs-file-active.png);
}

.item-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 2px 0px;
  width: 100%;
}

.item {
}

.name {
  flex: 1;
  align-self: center;
  font-size: 14px;
  padding: 0 0 0 8px;
}

.folder {
  color: #BBB;
  cursor: pointer;
}

.folder:hover {
  color: #DDD;
}

.file {
  cursor: pointer;
  color: #BBB;
}

.file:hover {
  color: #DDD;
}

.selected {
  background-color: #31363F;
}

.selected > .name {
    color: #EEE;
}

.theDivExplorer {
  background-color : #003050;
}


/* ========================================
   WorkSpace Part
   ======================================== */

.tab {
    background      : #21252B;
    border-right    : 1px solid #111111;
    border-bottom   : 1px solid #111111;
    cursor          : pointer;
    font-size       : 14px;
    color           : #B0B0B0;
    padding         : 10px;
    position        : relative;
    height          : 24px;
}

.tab-icon {
    background-image: url(adxs-file-tab.png);
    display: inline-block;
    width: 20px;
    height: 20px;
}

.tab-close {
    background-image: url(adxs-close.png);
    width: 20px;
    height: 20px;
    visibility: hidden;
}
.tab:hover .tab-close {
    visibility: visible;
}

.tab-end {
    background : #21252B;
    border-bottom: 1px solid #111;
}

.tab.active {
    background          : #282C34;
    color               : #FFF;
    border-bottom-color : transparent;
}

.tab.active::before {
    position: absolute;
    display: block;
    width: 4px;
    content: ' ';
    background-color: #007DC5;
    height: 100%;
    top: 0;
    left: 0;
}

.content {
    background  : #eee;
}

.content div {
    background: #fff;
}
