/* ========================================

    CSS for ADX STUDIO THEMES.
    This will serve to change Theme of the Application.

   ======================================== */

/* ========================================
    Share styling
   ======================================== */
body.grey {
    background: #bbb;
}

.splitter {
    background: transparent;
}
.splitter.drag {
    background: #333;
    cursor: ne-resize;
}


/* ========================================
   Explorer Part
   ======================================== */

.toggle {
  background-image: url(spritesheet.png);
  background-position: -80px -180px;
  width: 20px;
  height: 20px;
}

.file > .item-info > .toggle {
  background-image: none;
}

.item-info:hover .toggle {
  background-position: -100px -180px;
  width: 20px;
  height: 20px;
}

.toggle.open {
  background-position: -120px -180px;
  width: 20px;
  height: 20px;
}

.item-info:hover .toggle.open {
  background-position: -140px -180px;
  width: 20px;
  height: 20px;
}

.folder > .item-info > .icon {
  background-image: url(spritesheet.png);
  background-position: -60px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;

}

.file > .item-info > .icon {
  background-image: url(spritesheet.png);
  background-position: -240px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.item-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 2px 0px;
  width: 100%;
}

.item {
}

.name {
  flex: 1;
  align-self: center;
  font-size: 15px;
}

.folder {
  color: black;
}

.folder:hover {
  color: red;
}

.file {
  color: blue;
}

.file:hover {
  color: red;
}

.selected {
  background-color: #D0D0D0;
}

.theDivExplorer {
  background-color : #003050;
}


/* ========================================
   WorkSpace Part
   ======================================== */

.tab {
    background : #ccc;
    border     : 1px solid #aaa;
}

.tab-icon {
    background-image: url(spritesheet.png);
    background-position: -240px -120px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.tab-close {
    background-image: url(spritesheet.png);
    background-position: -440px -100px;
    width: 20px;
    height: 20px;
    visibility: hidden;
}
.tab:hover .tab-close {
    visibility: visible;
}

.tab-end {
    background : #bbb;
    border     : 1px solid #aaa;
}
.tab.active {
    background: #eee;
    border-bottom-color: #eee;
}

.content {
    background  : #eee;
}

.content div {
    background: #fff;
}
