.spritesheet {
  background-image: url(spritesheet.png);
}

.icn-add-cond-hover {
  background-position: -60px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-add-cond-normal {
  background-position: -40px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-add-variable-response-active {
  background-position: -360px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-add-variable-response-disabled {
  background-position: -360px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-add-variable-response-hover {
  background-position: -360px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-add-variable-response-normal {
  background-position: -360px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-administration-active {
  background-position: -60px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-administration-hover {
  background-position: -40px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-administration-normal {
  background-position: -20px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-alert-close-hover {
  background-position: -440px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-alert-close-normal {
  background-position: -440px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-analysis-active {
  background-position: -140px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-analysis-hover {
  background-position: -160px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-analysis-normal {
  background-position: -160px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-back-to-main-active {
  background-position: -400px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-back-to-main-disabled {
  background-position: -400px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-back-to-main-hover {
  background-position: -400px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-back-to-main-normal {
  background-position: -400px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-calc-settings-active {
  background-position: -360px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-calc-settings-disabled {
  background-position: -340px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-calc-settings-hover {
  background-position: -360px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-calc-settings-normal {
  background-position: -360px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-calcvar-clos-disabled {
  background-position: 0px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-calcvar-clos-hover {
  background-position: -20px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-calcvar-clos-normal {
  background-position: 0px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-calcvar-num-disabled {
  background-position: -40px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-calcvar-num-hover {
  background-position: -20px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-calcvar-num-normal {
  background-position: 0px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-close {
  background-position: -120px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-close-disabled {
  background-position: -160px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-close-hover {
  background-position: -160px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-close-normal {
  background-position: -160px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-collapse-active {
  background-position: -220px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-collapse-hover {
  background-position: -100px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-collapse-normal {
  background-position: -80px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-collapse-pgrid-active {
  background-position: -460px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-collapse-pgrid-hover {
  background-position: -460px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-collapse-pgrid-normal {
  background-position: -460px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-company-share-hover {
  background-position: -480px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-company-share-normal {
  background-position: -480px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-dashboard-active {
  background-position: -120px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-dashboard-hover {
  background-position: -100px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-dashboard-normal {
  background-position: -80px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-default-pgrid-active {
  background-position: -460px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-default-pgrid-disabled {
  background-position: -460px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-default-pgrid-hover {
  background-position: -460px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-default-pgrid-normal {
  background-position: -460px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-description {
  background-position: -60px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-description-disabled {
  background-position: -100px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-description-hover {
  background-position: -80px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-distrib-collapsed-active {
  background-position: -260px -58px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-distrib-collapsed-hover {
  background-position: -260px -38px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-distrib-collapsed-normal {
  background-position: -260px -18px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-distrib-expanded-active {
  background-position: -260px 0px;
  display: inline-block;
  width: 20px;
  height: 18px;
}

.icn-distrib-expanded-hover {
  background-position: -240px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-distrib-expanded-normal {
  background-position: -240px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-down {
  background-position: -60px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-down-disabled {
  background-position: -100px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-down-hover {
  background-position: -80px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-dropdown-arrow {
  background-position: -140px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-dropdown-arrow-hover {
  background-position: -140px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-duplicate {
  background-position: -120px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-duplicate-disabled {
  background-position: -120px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-duplicate-hover {
  background-position: -120px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-edit-variable-response-active {
  background-position: -380px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-edit-variable-response-disabled {
  background-position: -380px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-edit-variable-response-hover {
  background-position: -380px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-edit-variable-response-normal {
  background-position: -380px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-editor-warning {
  background-position: -440px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-expand-active {
  background-position: -220px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-expand-hover {
  background-position: -140px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-expand-normal {
  background-position: -120px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-expand-pgrid-active {
  background-position: -440px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-expand-pgrid-hover {
  background-position: -440px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-expand-pgrid-normal {
  background-position: -440px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-export-results-active {
  background-position: -300px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-export-results-disabled {
  background-position: -300px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-export-results-hover {
  background-position: -300px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-export-results-normal {
  background-position: -300px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-group-share-hover {
  background-position: -480px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-group-share-normal {
  background-position: -480px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-handle {
  background-position: -380px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-handle-active {
  background-position: -380px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-home {
  background-position: -20px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-home-hover {
  background-position: -40px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-invisible-disabled {
  background-position: -280px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-invisible-hover {
  background-position: -300px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-invisible-normal {
  background-position: -300px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-left {
  background-position: -80px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-left-disabled {
  background-position: -100px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-left-hover {
  background-position: -100px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-maximize-active {
  background-position: -260px -78px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-maximize-disabled {
  background-position: -200px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-maximize-disabled {
  background-position: -200px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-maximize-hover {
  background-position: -200px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-maximize-hover {
  background-position: -200px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-maximize-normal {
  background-position: -200px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-maximize-normal {
  background-position: -200px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-minimize-active {
  background-position: -260px -98px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-minimize-disabled {
  background-position: -200px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-minimize-disabled {
  background-position: -200px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-minimize-hover {
  background-position: -180px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-minimize-hover {
  background-position: -180px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-minimize-normal {
  background-position: -160px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-minimize-normal {
  background-position: -160px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-more {
  background-position: -60px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-more-disabled {
  background-position: -80px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-more-hover {
  background-position: -80px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-move-to-active {
  background-position: -420px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-move-to-disabled {
  background-position: -420px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-move-to-hover {
  background-position: -420px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-move-to-normal {
  background-position: -420px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-new {
  background-position: -120px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-new-disabled {
  background-position: -120px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-new-hover {
  background-position: -120px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-new-portfolio-folder-disabled {
  background-position: -380px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-new-portfolio-folder-hover {
  background-position: -380px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-new-portfolio-folder-normal {
  background-position: -380px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-pause-active {
  background-position: -300px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-pause-disabled {
  background-position: -300px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-pause-hover {
  background-position: -300px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-pause-normal {
  background-position: -300px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-portfolio-active {
  background-position: -280px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-portfolio-disabled {
  background-position: -60px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-portfolio-hover {
  background-position: -60px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-portfolio-normal {
  background-position: -60px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-profile-active {
  background-position: -280px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-profile-disabled {
  background-position: -40px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-profile-hover {
  background-position: -20px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-profile-normal {
  background-position: 0px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-profile-treeview-active {
  background-position: -400px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-profile-treeview-disabled {
  background-position: -400px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-profile-treeview-hover {
  background-position: -420px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-profile-treeview-normal {
  background-position: -420px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-chapter-active {
  background-position: -200px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-chapter-disabled {
  background-position: -180px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-chapter-hover {
  background-position: -180px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-chapter-normal {
  background-position: -180px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-date-active {
  background-position: -200px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-date-disabled {
  background-position: -180px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-date-hover {
  background-position: -180px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-date-normal {
  background-position: -180px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-active {
  background-position: -200px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-disabled {
  background-position: -160px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-hover {
  background-position: -160px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-iteration-count-entry-active {
  background-position: -240px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-iteration-count-entry-disabled {
  background-position: -240px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-iteration-count-entry-hover {
  background-position: -240px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-iteration-count-entry-normal {
  background-position: -240px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-normal {
  background-position: -160px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-preliminary-selection-active {
  background-position: -220px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-preliminary-selection-disabled {
  background-position: -220px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-preliminary-selection-hover {
  background-position: -220px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-preliminary-selection-normal {
  background-position: -240px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-selection-each-iteration-active {
  background-position: -220px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-selection-each-iteration-disabled {
  background-position: -220px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-selection-each-iteration-hover {
  background-position: -220px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-loop-selection-each-iteration-normal {
  background-position: -220px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-multiple-active {
  background-position: -200px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-multiple-disabled {
  background-position: -100px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-multiple-hover {
  background-position: -80px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-multiple-normal {
  background-position: -60px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-numeric-active {
  background-position: -200px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-numeric-disabled {
  background-position: -40px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-numeric-hover {
  background-position: -40px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-numeric-normal {
  background-position: -20px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-open-active {
  background-position: -200px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-open-disabled {
  background-position: -180px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-open-hover {
  background-position: -180px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-open-normal {
  background-position: -180px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-single-active {
  background-position: -220px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-single-disabled {
  background-position: -160px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-single-hover {
  background-position: -140px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-qt-single-normal {
  background-position: -120px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-raw-data-active {
  background-position: -480px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-raw-data-disabled {
  background-position: -480px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-raw-data-hover {
  background-position: -480px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-raw-data-normal {
  background-position: -480px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-remove {
  background-position: -140px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-remove-cond-hover {
  background-position: -20px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-remove-cond-normal {
  background-position: 0px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-remove-disabled {
  background-position: 0px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-remove-hover {
  background-position: -140px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-remove-share-hover {
  background-position: -480px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-remove-share-normal {
  background-position: -460px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-rename {
  background-position: 0px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-rename-disabled {
  background-position: -40px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-rename-hover {
  background-position: -20px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-reset-default-active {
  background-position: -320px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-reset-default-disabled {
  background-position: -320px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-reset-default-hover {
  background-position: -320px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-reset-default-normal {
  background-position: -320px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-right {
  background-position: -60px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-right-disabled {
  background-position: -20px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-right-hover {
  background-position: -40px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-rm-variable-response-active {
  background-position: -360px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-rm-variable-response-disabled {
  background-position: -360px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-rm-variable-response-hover {
  background-position: -360px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-rm-variable-response-normal {
  background-position: -380px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-save-as-template-active {
  background-position: -440px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-save-as-template-disabled {
  background-position: -440px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-save-as-template-hover {
  background-position: -440px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-save-as-template-normal {
  background-position: -440px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-save-template-active {
  background-position: -420px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-save-template-disabled {
  background-position: -420px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-save-template-hover {
  background-position: -420px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-save-template-normal {
  background-position: -420px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-search {
  background-position: 0px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-search-disabled {
  background-position: -40px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-search-hover {
  background-position: -20px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-share-active {
  background-position: -320px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-share-disabled {
  background-position: -320px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-share-hover {
  background-position: -320px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-share-normal {
  background-position: -320px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-tab-def-active {
  background-position: -500px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-tab-def-disabled {
  background-position: -480px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-tab-def-hover {
  background-position: -500px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-tab-def-normal {
  background-position: -500px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toc-active {
  background-position: -240px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toc-chart-active {
  background-position: -280px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toc-chart-disabled {
  background-position: -280px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toc-chart-hover {
  background-position: -280px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toc-chart-normal {
  background-position: -280px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toc-hover {
  background-position: -240px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toc-normal {
  background-position: -240px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toc-table-active {
  background-position: -260px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toc-table-disabled {
  background-position: -260px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toc-table-hover {
  background-position: -260px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toc-table-normal {
  background-position: -260px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toolbar-collapse {
  background-position: -100px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toolbar-collapse-hover {
  background-position: 0px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toolbar-expand {
  background-position: -100px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-toolbar-expand-hover {
  background-position: -100px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-up {
  background-position: -80px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-up-disabled {
  background-position: 0px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-up-hover {
  background-position: -80px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-use-charts-active {
  background-position: -320px -180px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-use-charts-active-selected {
  background-position: -400px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-use-charts-disabled {
  background-position: -320px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-use-charts-hover {
  background-position: -340px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-use-charts-normal {
  background-position: -340px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-use-charts-normal-selected {
  background-position: -400px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-use-tables-active {
  background-position: -340px -60px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-use-tables-active-selected {
  background-position: -400px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-use-tables-disabled {
  background-position: -340px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-use-tables-hover {
  background-position: -340px -80px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-use-tables-normal {
  background-position: -340px -100px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-use-tables-normal-selected {
  background-position: -400px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-user-nav {
  background-position: -140px -40px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-user-nav-active {
  background-position: -140px 0px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-user-nav-hover {
  background-position: -140px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-user-share-hover {
  background-position: -460px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-user-share-normal {
  background-position: -460px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-variable-warning-active {
  background-position: -340px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-variable-warning-hover {
  background-position: -340px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-variable-warning-normal {
  background-position: -340px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-visible-disabled {
  background-position: -280px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-visible-hover {
  background-position: -280px -140px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icn-visible-normal {
  background-position: -280px -160px;
  display: inline-block;
  width: 20px;
  height: 20px;
}