/* Here is the global css of the project.

* CSS-part for the explorer */
.toggle {
  background-image: url(spritesheet.png);
  background-position: -80px -180px;
  width: 20px;
  height: 20px;
}



.item-info:hover .toggle {
  background-position: -100px -180px;
  width: 20px;
  height: 20px;
}

.toggle.open {
  background-position: -120px -180px;
  width: 20px;
  height: 20px;
}

.item-info:hover .toggle.open {
  background-position: -140px -180px;
  width: 20px;
  height: 20px;
}

.folder>.item-info>.icon {
  background-image: url(spritesheet.png);
  background-position: -60px -20px;
  display: inline-block;
  width: 20px;
  height: 20px;

}

.file>.item-info>.icon {
  background-image: url(spritesheet.png);
  background-position: -240px -120px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.item-info {
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
}

.name {
  text-align: auto;
  font-size: 14px;
}
