<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.2.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.2.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.2.0/ADCSchema.xsd"
          version="2.2.0"
          askiaCompat="5.5.2">
  <info>
    <name>
      <![CDATA[{{ADXName}}]]>
    </name>
    <guid>{{ADXGuid}}</guid>
    <version>1.0.0</version>
    <date>2000-01-01</date>
    <description>
      <![CDATA[{{ADXDescription}}]]>
    </description>
    <author>
      <![CDATA[{{ADXAuthor}}]]>
    </author>
    <company>
      <![CDATA[{{ADXAuthor.Company}}]]>
    </company>
    <helpURL></helpURL>
    <site>
      <![CDATA[{{ADXAuthor.Website}}]]>
    </site>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" chapter="false" single="false" multiple="false" numeric="false" date="false"
                  open="false" requireParentLoop="false" requireLoopDepth="0"/>
      <constraint on="controls" responseblock="true" label="false" textbox="false" />
    </constraints>
  </info>

  <outputs defaultOutput="default">
    <output id="default" manageLoopDepth="0">
      <description><![CDATA[Default output]]></description>
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
    </output>
  </outputs>

</control>
