/* ========================================

    CSS for ADX STUDIO THEMES.
    This will serve to change theme of the application.

   ======================================== */

/* ========================================
    Share styling
   ======================================== */
::-moz-selection {
    background  : #27AE60;
    color       : #FFF;
}

::selection {
    background  : #27AE60;
    color       : #FFF;
}

html {
    text-rendering          : optimizeLegibility !important;
    -webkit-font-smoothing  : antialiased !important;
}

body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body.grey {
    background: #7F8C8D;
}

body.form-viewer {
    background  : #FAFAFA;
    color       : #444;
    line-height : 1.7;
    font-size   : 14px;
}

body.form-viewer a {
    color: #BBB;
}

h3 {
    font-size   : 14px;
    font-weight : bold;
    color       : #27AE60;
}

fieldset {
    border-width: 0 0 1px 0;
    border-color: #BDC3C7;
    border-style: solid;
    margin-top  : 20px;
}

legend {
    font-size   : 18px;
    font-weight : bold;
}

label, input[type="checkbox"] {
    cursor: pointer;
}

input, textarea {
    border-radius   : 2px;
    border          : 1px solid #BDC3C7;
    background-color: #ECF0F1;
    color           : #444;
}

select {
    border          : 1px solid #BDC3C7;
    background-color: #ECF0F1;
    color           : #444;
    border-radius   : 2px;
    cursor          : pointer;
}

textarea {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#grid input, #grid textarea, #grid select {
    background-color: #E7EBEC;
}

input[readonly] {
    color: #888;
}

input:focus, input:active, textarea:focus, textarea:active, select:focus, select:active {
    border  : 1px solid #27AE60;
    outline : none;
}

#formProjectSettings textarea {
    resize: vertical;
}

#formProjectSettings #style_width,
#formProjectSettings #style_height {
    width: 80px;
}

#formProjectSettings input[type="text"],
#formProjectSettings input[type="url"],
#formProjectSettings textarea,
#formProjectSettings select {
    width: 60%;
}

.splitter {
    background: transparent;
}
.splitter.drag {
    background  : rgba(33,33,33,.3);
    cursor      : ne-resize;
}

#panel_status.opened {
    background      : #ECF0F1;
    border-bottom   : 1px solid #BDC3C7;
    color           : #444;
}

.panel-title-bar {
    background      : #ECF0F1;
    border-bottom   : 1px solid #BDC3C7;
    color           : #444;
}

.panel-title-bar .close {
    background  : url(adxs-close.png) no-repeat center center;
}

.panel-contents {
    color: #444;
}

#panel_output a {
    color: #A2D6F9;
}

#panel_output .error {
    color: #F7F7F7;
    background  : inherit;
}

#panel_output .warning {
    color: #E67E22;
    background  : inherit;
}

#panel_output .success {
    color: #27AE60;
    background  : inherit;
}

/* ========================================
   Explorer Part
   ======================================== */

.explorer-html {
    background-color: #ECF0F1;
}

#root {
  color: #444;
}

.toggle {
  background-image  : url(adxs-toggle-closed.png);
  width             : 20px;
  height            : 20px;
}

.file > .item-info > .toggle, .file > .item-info:hover > .toggle {
  background-image: none;
}

.item-info:hover .toggle {
  background-image  : url(adxs-toggle-closed-hover.png);
  width             : 20px;
  height            : 20px;
}

.toggle.open {
  background-image  : url(adxs-toggle-open.png);
  width             : 20px;
  height            : 20px;
}

.item-info:hover .toggle.open {
  background-image  : url(adxs-toggle-open-hover.png);
  width             : 20px;
  height            : 20px;
}

#root > .item-info > .icon {
  background-image  : url(adxs-folder.png);
  display           : inline-block;
  width             : 20px;
  height            : 20px;
  transition        : background-image ease-in .2s;
}

.folder > .item-info > .icon {
  background-image  : url(adxs-folder.png);
  display           : inline-block;
  width             : 20px;
  height            : 20px;
  transition        : background-image ease-in .2s;
}

.folder > .item-info:hover > .icon {
  background-image: url(adxs-folder-hover.png);
}

.file > .item-info > .icon {
  background-image  : url(adxs-file.png);
  display           : inline-block;
  width             : 20px;
  height            : 20px;
  transition        : background-image ease-in .2s;
}

.file > .item-info:hover > .icon {
  background-image: url(adxs-file-hover.png);
}

.file > .selected > .icon {
    background-image: url(adxs-file-active.png);
}

.item-info {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    white-space     : nowrap;
    padding         : 2px 0;
    width           : 100%;
    transition      : all ease-in .2s;
}

.name {
  flex      : 1;
  align-self: center;
  font-size : 14px;
  padding   : 0 0 0 8px;
}

.folder {
  color     : #444;
  cursor    : pointer;
  transition: color ease-in .2s;
}

.folder:hover {
  color: #000;
}

.file {
  cursor    : pointer;
  color     : #444;
  transition: color ease-in .3s;
}

.file:hover {
  color: #222;
}

.selected {
  background-color: #FEFEFE;
}

.selected > .name {
    color: #222;
}

/* TODO::IS THIS CLASS IS USED??? --- */
.theDivExplorer {
  background-color : #003050;
}
/* --- END TODO */


/* ========================================
   WorkSpace Part
   ======================================== */

.tabs-scroll {
    width: 50px;
    visibility: visible;
}
.tabs-container {
    height  : 45px;
    margin  : 0;
    padding : 0;
}

.tab {
    background      : #ECF0F1;
    border-top: 1px solid #BDC3C7;
    border-right    : 1px solid #BDC3C7;
    border-bottom   : 1px solid #BDC3C7;
    cursor          : pointer;
    font-size       : 14px;
    color           : #444;
    padding         : 10px;
    position        : relative;
    line-height     : 23px;
    transition      : color ease-in .2s, background ease-in .2s;
}

.tabs-scroll div {
    background      : #ECF0F1;
    cursor          : pointer;
    font-size       : 14px;
    color           : #444;
    padding         : 10px;
    position        : relative;
    line-height     : 23px;
    transition      : color ease-in .2s, background ease-in .2s;
}

.tabs-scroll div    {
    margin          : 0;
    padding         : 10px 2px;
    vertical-align  : middle;
}

.scroll-left, .scroll-right {
    border: 0;
}

.tabs-scroll .scroll-left {
    background  : url(adxs-scroll-left.png) no-repeat center center;
    width       : 18px;
    height      : 24px;
    box-shadow  : 1px 0 0 0 #BDC3C7 inset, 2px 0 0 0 rgba(255,255,255,0.8) inset;
}

.tabs-scroll .scroll-right {
    background  : url(adxs-scroll-right.png) no-repeat center center;
    width       : 18px;
    height      : 24px;
}

.tabs-scroll .scroll-left:hover {
    background  : url(adxs-scroll-left-hover.png) no-repeat center center;
}

.tabs-scroll .scroll-right:hover {
    background  : url(adxs-scroll-right-hover.png) no-repeat center center;
}

.tabs-scroll .scroll-left.disabled {
    background  : url(adxs-scroll-left-disabled.png) no-repeat center center;
    width       : 18px;
    height      : 24px;
    cursor      : default;
    box-shadow  : none;
}

.tabs-scroll .scroll-right.disabled {
    background  : url(adxs-scroll-right-disabled.png) no-repeat center center;
    width       : 18px;
    height      : 24px;
    cursor      : default;
}

.tab-icon {
    background-image: url(adxs-file-tab.png);
    display         : inline-block;
    width           : 20px;
    height          : 20px;
}

.tab-close {
    background-image: url(adxs-close.png);
    width           : 20px;
    height          : 20px;
    visibility      : hidden;
    transition      : visibility ease-in .2s;
}

.tab:hover .tab-close {
    visibility: visible;
}

.tab-placeholder {
    background: #111;
}

.tabs-scroll, .tab-end {
    background      : #ECF0F1;
    border-bottom   : 1px solid #BDC3C7;
}

.tab.active {
    background          : #FAFAFA;
    color               : #222;
    border-bottom       : 1px solid transparent;
}

.tab.edit {
  font-style: italic;
}

/* Sub tab bar that appear for project settings */
.toggle-wrapper {
    background  : #ECF0F1;
    border-top  : 1px solid #BDC3C7;
    padding     : 8px 18px 8px 8px;
    text-align  : right;
}

.toggle-wrapper button:first-of-type {
    border-color: #92989C;
    border-width: 1px 0 1px 1px;
    border-style: solid;
}

.toggle-wrapper button {
    outline     : none;
    cursor      : pointer;
    background  : #D7DBDC;
    color       : #444;
    border      : 1px solid #92989C;
    box-shadow  : 0 1px 0 rgba(255,255,255,.2) inset;
    padding     : 6px 20px;
    font-family : "Lucida Grande", Helvetica, Arial, sans-serif;
    transition  : color ease-in .2s, background ease-in .2s;
}

.toggle-wrapper button:hover {
    color       : #222;
    background  : #E5E8E8;
}

.toggle-wrapper button.active-sub-tab,
.toggle-wrapper button.active-sub-tab:hover {
    background  : #27AE60;
    color       : #FFF;
    box-shadow  : 0 0 8px rgba(0,0,0,.5) inset;
    border-color: #166F3C;
}
/* End of sub tab bar */

.pane.focused .tab.active::before {
    position        : absolute;
    display         : block;
    width           : 4px;
    content         : ' ';
    background-color: #27AE60;
    height          : 100%;
    top             : 0;
    left            : 0;
}

.pane {
    background-color: #ECF0F1;
}

.pane .placeholder {
    text-align  : center;
    line-height : 1.3;
    font-size   : 2.6rem;
    font-weight : 700;
    color       : #D5DBDC;
}

.pane .content,
#iframes .content {
    background-color: #21252B;
}


/* ========================================
   Preview Part
   ======================================== */

#addressURL {
    border          : 1px solid #BDC3C7;
    border-top      : 1px solid transparent;
    background-color: #ECF0F1;
    color           : #444;
}

#addressURL:focus {
    border: 1px solid #27AE60;
}

#addressURL[readonly] {
    color : #888;
}

#reloadPreview, #openPreview, #reset {
    background-color: #D7DBDC;
    border          : 1px solid #BDC3C7;
    box-shadow      : 0 1px 0 rgba(255,255,255,.4) inset;
    color           : #444;
}

#reloadPreview,
#openPreview {
    border-top: none;
}

#reloadPreview {
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset, -1px 0 0 rgba(255,255,255,.1) inset;
}

#reloadPreview:hover, #openPreview:hover, #reset:hover {
    color           : #222;
    background-color: #E5E8E8;
}

#reloadPreview:active, #openPreview:active, #reset:active {
    color           : #000;
    background-color: #D7DBDC;
    box-shadow      : 0px 0px 8px 0px rgba(0,0,0,.5) inset;
}

#grid #reset {
    height: 35px;
    border-width: 1px !important;
}

#grid {
    border-top      : 4px solid #7F8C8D;
    background-color: #ECF0F1;
}

#grid h2 {
    color           : #444;
    padding         : 0;
}

#grid h3 {
    border-top: 1px solid #BDC3C7;
}

#preview {
    background  : #FFF;
}

/* ========================================
   Viewer Part - Project Settings
   ======================================== */
.viewer-project-settings nav {
    background-color: #FAFAFA;
    border-right    : 1px solid #BDC3C7;
}

.viewer-project-settings nav a {
    color           : #444;
    background-color: #ECF0F1;
    text-decoration : none;
    cursor          : pointer;
    border-bottom   : 1px solid #BDC3C7;
    box-shadow      : 0 1px 0 rgba(255,255,255,.5) inset;
    transition      : background-color ease-in .2s, color ease-in .2s;
}

.viewer-project-settings nav ul li:first-child a.active {
    box-shadow: 0 1px 0 rgba(255,255,255,.2) inset;
}

.viewer-project-settings nav a.active, .viewer-project-settings nav a.active:hover {
    color           : #FFF;
    background-color: #27AE60;
    box-shadow      : 0 1px 0 #2AD070 inset;
}

.viewer-project-settings nav a:hover {
    background-color: #FAFAFA;
    color           : #222;
}

.viewer-project-settings #properties_table tbody tr,
.viewer-project-settings #contents tbody tr {
    transition: background-color ease-in .2s;
}

.viewer-project-settings #properties_table tbody tr:nth-child(4n+1),
.viewer-project-settings #properties_table tbody tr:nth-child(4n+2),
.viewer-project-settings #contents tbody tr:nth-child(odd) {
    background-color: #ECF0F1;
    transition      : background-color ease-in .2s;
}

.viewer-project-settings #properties_table tbody tr:hover:not(.editable),
.viewer-project-settings #contents tbody tr:hover:not(.editable) {
    background-color: #DADEE0;
}

button {
    background-color: #D7DBDC;
    border          : 1px solid #92989C;
    box-shadow      : 0 1px 0 rgba(255,255,255,.4) inset;
    color           : #444;
}

button:hover {
    background-color: #E5E8E8;
    color           : #222;
}

button:active {
    background-color: #E5E8E8;
    color           : #222;
    box-shadow      : 0 0 10px 0 rgba(0,0,0,.5) inset;
}

button#new_output,
button#new_category {
    background-color: #27AE60;
    border          : 1px solid #1B8246;
    box-shadow      : 0 1px 0 rgba(255,255,255,.3) inset;
    color           : #EEE;
}

button#new_output:hover,
button#new_category:hover {
    background-color: #2BC16A;
    border          : 1px solid #1B8246;
    color           : #FFF;
}

button#new_output:active,
button#new_category:active {
    background-color: #27AE60;
    box-shadow      : 0 0 10px 0 rgba(0,0,0,.5) inset;
    color           : #FFF;
}

.collapsable-row .toggle {
    background: url('../../viewers/projectSettings/collapsed.png') no-repeat center center;
}

.editing .toggle {
    background: url('../../viewers/projectSettings/expanded.png') no-repeat center center;
}

.error {
  background: #e74c3c;
  color     : #000;
}

#contents th,
#contents td {
    border-bottom   : 1px solid #BDC3C7;
}

#contents th,
#properties_table th {
    color       : #888888;
}

#properties_table th,
#properties_table td {
    border-bottom   : 1px solid #BDC3C7;
}

table#contents a,
table#properties_table a:not(.add-property-option) {
    background-color: #C0392B;
    color           : #EEE;
    border          : 1px solid #9E2D21;
    box-shadow      : 0 1px 0 rgba(255, 255, 255, .2) inset;
}

table#contents a:hover,
table#properties_table a:hover:not(.add-property-option) {
    background-color: #D44435;
    color           : #FFF;
    box-shadow      : 0 1px 0 rgba(255,255,255,.2) inset;
}

table#contents a:active,
table#properties_table a:active:not(.add-property-option) {
    background-color: #C0392B;
    color           : #FFF;
    box-shadow      : 0 0 10px 0 rgba(0,0,0,.5) inset;
}


.tool {
    background-color: #282C34;
    border: 1px solid transparent;
}

.tool:active {
  background-color: #343A44;
  border: 1px inset #151505;
}

.tool:hover {
  background-color: #343A44;
  border: 1px solid #151505;
}

.add-property-option {
    background-color: #D7DBDC;
    color           : #444 !important;
    border          : 1px solid #92989C;
    box-shadow      : 0 1px 0 rgba(255, 255, 255, .2) inset;
}

.add-property-option:hover {
    background-color: #E5E8E8;
    color           : #222;
}

.add-property-option:active {
    background-color: #D7DBDC;
    color           : #000;
    box-shadow      : 0 0 10px 0 rgba(0,0,0,.5) inset;
}
/* ========================================
   Viewer Part - image
   ======================================== */

.toolbar {
    background    : #CCC;
}

/* ========================================
   ModalDialog Part
   ======================================== */

.askia-modal-lightbox {
    background-color: rgba(66, 66, 66, 0.4);
}

.askia-modal-dialog {
    color       : #444;
    background  : #FAFAFA;
    border      : 1px solid #6A6B6B !important;
    box-shadow  : 0 0 17px 0 rgba(66,66,66,.8), 0 1px 0 white inset;
}

.askia-modal-button-ok,
.askia-modal-button-yes {
    background-color: #27AE60;
    border          : 1px solid #1C8649;
    box-shadow      : 0 1px 0 rgba(255,255,255,.25) inset;
    color           : #EEE;
    line-height     : 0;
}

.askia-modal-button-ok:hover,
.askia-modal-button-yes:hover {
    color           : #FFF;
    background-color: #29BD67;
}

.askia-modal-button-ok:active,
.askia-modal-button-yes:active {
    color           : #FFF;
    background-color: #27AE60;
    box-shadow      : 0 0 12px rgba(0,0,0,.6) inset;
}

.askia-modal-button-cancel,
.askia-modal-button-no {
    background-color: #D7DBDC;
    border          : 1px solid #92989C;
    box-shadow      : 0 1px 0 rgba(255,255,255,.4) inset;
    color           : #444;
    line-height     : 0;
}

.askia-modal-button-cancel:hover,
.askia-modal-button-no:hover {
    color           : #222;
    background-color: #E5E8E8;
}

.askia-modal-button-cancel:active,
.askia-modal-button-no:active {
    color           : #222;
    background-color: #D7DBDC;
    box-shadow      : 0 0 12px rgba(0,0,0,.6) inset;
}

.askia-modal-input-prompt {
    border          : 1px solid #BDC3C7;
    background-color: #ECF0F1;
    color           : #444;
}

.askia-modal-input-prompt:focus {
    border  : 1px solid #27AE60;
}


.askia-modal-dialog.about {
    background-color: #ECF0F1;
    box-shadow      : inset 0 1px 0 rgba(255,255,255,.9), 0px 0px 17px 4px rgba(0, 0, 0, .4);
}

.askia-modal-dialog h3 {
    color: #222;
}

.askia-modal-dialog.about .left {
    background: url(../../lib/askia/about-adxstudiologo.png) no-repeat center center;
}

.askia-modal-dialog.about .right {
    color: #222;
}

.askia-modal-dialog.about  h4 {
    color     : #888;
}

.askia-modal-dialog.about  a {
     color: #0073EA;
}

.askia-modal-dialog.about  a:hover {
    background  : #0073EA;
    color       : #FFF;
}

.askia-modal-dialog.Keyboard-Shortcuts {
    color       : #444;
    background  : #FAFAFA;
    border      : 1px solid #555 !important;
    box-shadow  : 0 0 17px 0 rgba(26,26,26,.8), 0 1px 0 rgba(230,230,230,.1) inset;
}

.askia-modal-dialog.Keyboard-Shortcuts h2 {
    color: #888;
}

.askia-modal-dialog.Keyboard-Shortcuts .left {
    border-right: 1px solid #BDC3C7;
}

.askia-modal-dialog.Keyboard-Shortcuts  a {
    color: #444;
    transition: color ease-in .2s;
}

.askia-modal-dialog.Keyboard-Shortcuts  a:hover {
    color: #222;
}

.KBshortcut {
    color       : #27AE60;
}

.askia-modal-dialog.new-project {
    background: #FAFAFA;
}

.askia-modal-new-project-container input,
.askia-modal-new-project-container textarea,
.askia-modal-new-project-container select {
    border          : 1px solid #BDC3C7;
    background-color: #ECF0F1;
    color           : #444;
}

.askia-modal-new-project-container input:focus,
.askia-modal-new-project-container textarea:focus,
.askia-modal-new-project-container select:focus {
    border  : 1px solid #27AE60;
}

.askia-modal-new-project-container button {
    background-color: #D7DBDC;
    border          : 1px solid #92989C;
    box-shadow      : 0 1px 0 rgba(255,255,255,.4) inset;
    color           : #444;
}

.askia-modal-new-project-container button:hover {
    background-color: #E5E8E8;
    color           : #222;
}

.askia-modal-new-project-container button:active {
    background-color: #D7DBDC;
    color           : #000;
    box-shadow      : 0 0 10px 0 rgba(0,0,0,.5) inset;
}

.askia-modal-dialog.preferences {
    background: #FAFAFA;
}

.askia-modal-preferences-container input,
.askia-modal-preferences-container textarea,
.askia-modal-preferences-container select {
    border          : 1px solid #BDC3C7;
    background-color: #ECF0F1;
    color           : #444;
}

.askia-modal-preferences-checkbox-container input:focus,
.askia-modal-preferences-container input:focus,
.askia-modal-preferences-container textarea:focus,
.askia-modal-preferences-container select:focus {
    border  : 1px solid #27AE60;
    outline : none;
}

.askia-modal-preferences-container button {
    background-color: #D7DBDC;
    border          : 1px solid #92989C;
    box-shadow      : 0 1px 0 rgba(255,255,255,.4) inset;
    color           : #444;
}

.askia-modal-preferences-container button:hover {
    background-color: #E5E8E8;
    color           : #222;
}

.askia-modal-preferences-container button:active {
    background-color: #D7DBDC;
    color           : #000;
    box-shadow      : 0 0 10px 0 rgba(0,0,0,.5) inset;
}

div.askia-resizer-horizontal-drag {
    background  : #333;
}

div.askia-resizer-vertical-drag {
    background  : #333;
}

div.askia-resizer-modal {
    background  : transparent;
}

/* IMAGE VIEWER CONTAINER */

.content .iframe-wrapper {
    background: #FAFAFA;
}

.toolbar .tool{
    background-color: #7F8C8D;
}

.toolbar .tool:hover {
    background-color: #8B9798;
    border: 1px solid #7F8C8D;
}
