/* WEBFONT */
@font-face{
font-family:"MaxWeb W03 Bold";
src:url("../static/fonts/1473505/3b6337cb-ced4-4f27-ba0c-67b550af684c.eot?#iefix");
src:url("../static/fonts/1473505/3b6337cb-ced4-4f27-ba0c-67b550af684c.eot?#iefix") format("eot"),url("../static/fonts/1473505/34a13c15-03de-494c-9915-9d50368b62f7.woff2") format("woff2"),url("../static/fonts/1473505/f35356b4-0a2b-4f0a-940c-04b07d5e57f4.woff") format("woff"),url("../static/fonts/1473505/aceb04aa-c4a2-4d9e-88ee-1e37db03b0d9.ttf") format("truetype");
}
@font-face{
font-family:"MaxWeb W03 BoldItalic";
src:url("../static/fonts/1473507/be521e3e-53f0-44a6-b96a-48dbb5f11f1b.eot?#iefix");
src:url("../static/fonts/1473507/be521e3e-53f0-44a6-b96a-48dbb5f11f1b.eot?#iefix") format("eot"),url("../static/fonts/1473507/3a4bd47b-73a1-4d41-b7d6-e53e4ace8c65.woff2") format("woff2"),url("../static/fonts/1473507/931360e4-a39a-407f-bd86-9d9ad3bdf772.woff") format("woff"),url("../static/fonts/1473507/a20c5b49-23e0-4e08-b189-072bc5094fe2.ttf") format("truetype");
}
@font-face{
font-family:"MaxWeb W03 Extlight";
src:url("../static/fonts/1473553/597ac5eb-dd38-4364-8de1-e589bf7f4949.eot?#iefix");
src:url("../static/fonts/1473553/597ac5eb-dd38-4364-8de1-e589bf7f4949.eot?#iefix") format("eot"),url("../static/fonts/1473553/5c5c228f-c044-468e-afc1-80a900347091.woff2") format("woff2"),url("../static/fonts/1473553/b8a65fd3-f1e2-45e2-947d-f9d678e52aaa.woff") format("woff"),url("../static/fonts/1473553/2ab56e75-d787-4022-9743-8a45cd960c42.ttf") format("truetype");
}
@font-face{
font-family:"MaxWeb W03 ExtlightItalic";
src:url("../static/fonts/1473555/08ea1a58-f0d9-4a08-b4c8-8cd3f64b0561.eot?#iefix");
src:url("../static/fonts/1473555/08ea1a58-f0d9-4a08-b4c8-8cd3f64b0561.eot?#iefix") format("eot"),url("../static/fonts/1473555/a5ac070a-246c-4f56-8d14-bbf90d58107a.woff2") format("woff2"),url("../static/fonts/1473555/1af7231b-f327-4514-97bf-e1b2903edfdb.woff") format("woff"),url("../static/fonts/1473555/8cb010d0-43fb-4a1c-a1e0-e67a22d1fa70.ttf") format("truetype");
}
@font-face{
font-family:"MaxWeb W03 Italic";
src:url("../static/fonts/1473565/82d8aa2e-b825-416e-b630-a052fb972874.eot?#iefix");
src:url("../static/fonts/1473565/82d8aa2e-b825-416e-b630-a052fb972874.eot?#iefix") format("eot"),url("../static/fonts/1473565/b67337eb-22a7-4045-84f3-29fc00f0a75b.woff2") format("woff2"),url("../static/fonts/1473565/56d69f87-a39a-4b1a-990d-d37cfeaa8551.woff") format("woff"),url("../static/fonts/1473565/8b487af7-f85a-44bc-a8ca-d4aaa09bb0b9.ttf") format("truetype");
}
@font-face{
font-family:"MaxWeb W03 Regular";
src:url("../static/fonts/1473571/86f1717d-6131-4d33-890c-a13f87614fdd.eot?#iefix");
src:url("../static/fonts/1473571/86f1717d-6131-4d33-890c-a13f87614fdd.eot?#iefix") format("eot"),url("../static/fonts/1473571/d7b9b6a1-50cd-4941-b856-413b003f6334.woff2") format("woff2"),url("../static/fonts/1473571/f601f169-e055-4d08-b6ea-1562e76cb1ed.woff") format("woff"),url("../static/fonts/1473571/97dcdd6b-7c3f-475d-bad6-f8e32cf0c63e.ttf") format("truetype");
}

/* BG IMAGE, DEFAULT COLOR, FONT STACK & ROOT FONT SIZE  */

html {
    background: url('../static/img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #283B49;
    font-family: "MaxWeb W03 Regular", sans-serif;
    font-size: 16px;
}

/* DEFAULT TEXT SELECTION STYLING RULES  */

::selection {
    background: #283B49;
    color: #FFF;
}
::-moz-selection {
    background: #283B49;
    color: #FFF;
}

/* SET HEADER LOCATION TO LEFT (FLEX-START), CENTER (CENTER) OR RIGHT (FLEX-END) */

header {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

/* SET HEADER LOCATION TO LEFT (FLEX-START), CENTER (CENTER) OR RIGHT (FLEX-END) WHEN VIEWPORT < 970PX */

@media (max-width: 970px) {
    header {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }
}

/* SET HEADER CONTENT PADDING */

header div {
    padding: .3em 1em 0 1em;
}

/* SET SURVEY TITLE FONT SIZE */

#headerContent > .surveyTitle {
    font-size: 2rem;
}

/* SET LOGO HEIGHT TO INCREASE / DECREASE LOGO SIZE - MUST BE SET / CANNOT BE LEFT EMPTY */

#headerContent > img {
    height: 80px;
}

/* MAIN FORM WRAPPER:
- USE JUSTIFY-CONTENT TO SET FORM VERTICAL ALIGNMENT (FLEX-START / CENTER / FLEX-END)
- SET FORM WIDTH
- SET FORM MARGIN
- SET FORM PADDING */
form.question {
    justify-content: center;
    width: 60vw;
    margin: 2em auto;
    padding: 1em;
}

/* MAIN FORM WRAPPER: SET FORM WIDTH WHEN VIEWPORT < 970PX */

@media (max-width: 970px) {
    form.question {
        width: 80vw;
    }
}

/* QUESTION CAPTION FONT SIZE */

.error {
    background: rgba(223, 67, 53, .8);
    border: .1em solid #DF4335;
    border-radius: .2em;
    color: #FFF;
    padding: .4em 1.5em;
}

/* QUESTION CAPTION FONT SIZE */

.caption {
    font-size: 1.25rem;
}

/* QUESTION INTRUCTION RULES:
- FONT-SIZE
- FONT COLOR
- TEXT-TRANSFORM
- MORE CAN BE ADDED (TEXT-ALIGN, TEXT-SHADOW, LETTER-SPACING, ...) */

.instruction {
    font-size: .95rem;
    text-transform: uppercase;
    color: #888;
}

/* NAVIGATION BUTTONS COMMON RULES:
- SET TEXT-ALIGN TO ALIGN BTNS (LEFT, CENTER OR RIGHT)
- SET FONT-SIZE
- SET PADDING
*/
.navigation {
    text-align: center;
    font-size: 1.25rem;
    padding: 2em 0;
}

/* NAV BUTTON BASE STYLING:
- SET FONT STACK
- SET BORDER-RADIUS
- SET PADDING
- SET LINE-HEIGHT
*/

.navigation > button {
    font-family:"MaxWeb W03 Bold", sans-serif;
    border-radius: .2em;
    padding: .2em 1.5em;
    line-height: 1.85em;
}

/* BACK BUTTON SPECIFIC STYLING:
- SET FONT COLOR
- SET BG
- SET BORDER
- SET MARGIN
- SET TRANSITION (OPTIONAL)
*/

.previous {
    color: #FFF;
    background: transparent;
    border: .1em solid #FFF;
    margin-right: 2em;
    transition: color .15s ease-in, background ease-in .15s;
}

.previous:hover {
    color: #283B49;
    background: #FFF;
}

/* NEXT BUTTON SPECIFIC STYLING:
- SET FONT COLOR
- SET BG
- SET BORDER
- SET TRANSITION (OPTIONAL)
*/

.next {
    background: #DF4335;
    color: #EEE;
    border: .1em solid #cb3628;
    transition: color ease-in .15s, background ease-in .15s, border ease-in .15s;
}

.next:hover {
    background: #283B49;
    color: #FFF;
    border: .1em solid #283B49;
}

/* FOOTER LAYOUT & POSITIONING OPTIONS:
- SET ALIGN-SELF RULES TO FLEX-START, CENTER, FLEX-END OR STRETCH TO POSITION IT AS REQUIRED
- SET BG
*/
footer {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background: rgba(255,255,255,0.4);
}

/* FOOTER TEXT LAYOUT RULE:
- SET FLEX ORDER TO 1 TO INVERT POSITIONS OF FOOTERTEXT & PROGRESS BAR
*/

.footerText {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
}

/* FOOTER TEXT DECORATOR RULES:
- SET MARGIN
- SET PADDING
- SET FONT-SIZE
*/

.footerText > p {
    margin: 0 auto;
    padding: .5em 0 .5em .5em;
    font-size: .9rem;
}

/* PROGRESS BAR PADDING */

.progressbar {
    padding: .5em .5em .5em 0;
}

/* PROGRESS BAR VALUE STYLING:
- REMOVE THE PSEUDO-SELECTOR TO HIDE THE PROGRESS VALUE
- IF ENABLED:
    - SET PROGRESS VALUE FONT-SIZE
    - SET PROGRESS VALUE FONT COLOR
    - SET PROGRESS VALUE PADDING
*/

.progressbar::before {
    font-size: .75rem;
    color: #283B49;
    content: '33%';
    position: absolute;
    padding: 0 10em;
}

/* DECORATOR STYLES FOR THE HTML5 PROGRESS ELEMENT:
- SET PROGRESS WIDTH
- SET PROGRESS HEIGHT
*/

progress {
    width: 17em;
    height: 1em;
}

/* DECORATOR STYLES FOR THE HTML5 PROGRESS ELEMENT FOR WEBKIT BROWSERS:
- SET PROGRESS BG
- SET PROGRESS BORDER-RADIUS
*/

progress::-webkit-progress-bar {
    background-color: #EEE;
    border-radius: .2em;
}

/* DECORATOR STYLES FOR THE HTML5 PROGRESS ELEMENT FOR GECKO BROWSERS:
- SET PROGRESS BG
- SET PROGRESS BORDER-RADIUS
*/

progress::-webkit-progress-value {
    background-color: #DF4335;
    border-radius: .2em 0 0 .2em;
}

/* PROGRESS BAR & FOOTER TEXT RULES WHEN VIEWPORT < 600PX */

@media (max-width: 600px) {
    progress {
        width: 10em;
    }
    .progressbar::before {
        padding: 0 5em;
    }
    .footerText > p {
        font-size: .8rem;
    }
}

/* FOOTER TEXT RULES WHEN VIEWPORT < 460PX */

@media (max-width: 460px) {
    .footerText > p {
        font-size: .6rem;
        line-height: 3;
    }
}
