html, body {
    width:100%;
    height:100vh;
    padding:0;
    margin:0;
}

#main_panels {
    display:flex;
    flex-direction: row;
    height:100vh;
}

#panel_explorer, #panel_workspace {
    position: relative;
}

#panel_explorer {
    min-width : 100px;
    width: 250px;
}

#panel_workspace {
    flex  : 1;
    margin-left: 4px;
}

webview {
    /* Fit  the content */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#main_panels div#separatorExplorerWorkspace {
  height: 100%;
  width: 4px;
  position: absolute;
  z-index: 2;
  left: 250px;
  cursor: ew-resize;
}

.hideWindow {
  opacity: 0.4;
  background: black;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
}
