html, body {
    width   :100%;
    height  :100vh;
    padding :0;
    margin  :0;
}

#panels {
    height          : 100vh;
    display         : flex;
    flex-direction  : column;
}

#main_panels {
    display         : flex;
    flex-direction  : row;
    flex            : 1;
}

.panel {
    position: relative;
}

#panel_explorer {
    min-width   : 100px;
    width       : 250px;
}

#panel_workspace {
    flex        : 1;
    margin-left : 4px;
}

webview {
    /* Fit  the content */
    position: absolute;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;
}

/** -------------------
    PANEL STATUS
    ------------------- **/
#panel_status{
    display:none;
}
#panel_status.opened {
    display         : flex;
    flex-direction  : column;
    background      : #21252B;
    color           : #555;
    margin-top      : 4px;
}
.panel-title-bar {
    background      : #21252B;
    padding         : 5px 0 5px 10px;
    border-bottom   : 1px solid #000;
    color           : #DDD;
    font-size       : 14px;
}

.panel-title-bar .close {
    float       : right;
    display     : inline-block;
    padding     : 0 8px;
    cursor      : pointer;
    background  : url('../themes/default/adxs-close.png') no-repeat center center;
    width       : 16px;
    height      : 16px;
}

.panel-contents {
    position    : relative;
    flex        : 1;
    height      : 150px;
    color       : #EEE;
    font-family : Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.panel-tab-content {
	/* Fit  the content */
    position: absolute;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;
    overflow: auto;
    padding : 5px;
    display : none;
}
.panel-tab-content.selected {
    display: block;
}

#panel_output p {
    -webkit-user-select : initial;
    user-select         : initial;
    margin              : 0;
    padding             : 0 5px;
    font-size           : 0.8rem;
}

#panel_output a {
    color: #3498DB;
}

#panel_output .error {
    color       : #C0392B;
    font-weight : bold;
}
#panel_output .warning {
    color: #F39C12;
}
#panel_output .success {
    color: #2ECC71;
}
