html, body {
  margin    : 0;
  padding   : 0;
  height    : 100vh;
}

body {
    display         : flex;
    flex-direction  : row;
}

nav, ul {
    margin  : 0;
    padding : 0;
}

nav {
    width   : 200px;
    height  : 100vh;
}
nav li {
    /*margin-bottom : 20px;*/
}

nav a {
    display : block;
    padding : 10px;
    width   : 180px;
}

form {
  padding   : 0;
  margin    : 0;
  overflow  : auto;
  flex      : 1;
  height    : 100vh;
}

section {
    display: none;
}

section.active {
    display: block;
}

section > div {
    margin-left: 10px;
}

fieldset#output_list_fieldset,
fieldset#contents_fieldset,
fieldset#categories_list_fieldset {
    padding-bottom: 15px;
}

#outputs_list,
#categories_list {
    margin-right: 30px;
}

label {
  width         : 170px;
  display       : inline-block;
  vertical-align: top;
}

input[type="text"], input[type="url"], textarea, select {
    width: 460px;
}

button {
    padding         : 10px 15px;
    cursor          : pointer;
    align-self      : center;
    margin-left     : 10px;
    background-color: #BBBBBB;
    border-radius   : 2px;
    border          : 1px solid rgba(0,0,0,.95);
    box-shadow      : 0 1px 0 rgba(255,255,255,.4) inset;
    color           : #222;
    font-size       : 14px;
    font-weight     : bold;
    outline         : none;
    transition      : background-color ease-in .2s, color ease-in .2s;
}

button:hover {
    background-color: #CCCCCC;
    color           : #000;
}

button:active {
    background-color: #DDDDDD;
    color           : #000;
    box-shadow      : 0 0 10px 0 rgba(0,0,0,.9) inset;
}

button#new_output,
button#new_category {
    background-color: #007DC5;
    border-radius   : 2px;
    border          : 1px solid rgba(0,0,0,.95);
    box-shadow      : 0 1px 0 rgba(255,255,255,.4) inset;
    color           : #DDD;
    font-size       : 14px;
    font-weight     : bold;
    outline         : none;
    transition      : background-color ease-in .2s, color ease-in .2s;
}

button#new_output:hover,
button#new_category:hover {
    background-color: #0085d1;
    border          : 1px solid rgba(0,0,0,1);
    color           : #EEE;
}

button#new_output:active,
button#new_category:active {
    background-color: #007DC5;
    box-shadow      : 0 0 10px 0 rgba(0,0,0,.8) inset;
    color           : #EEE;
}

button#add_content,
button#add_property {
    margin: 20px 0 0 0;
}

.inner-form label {
    width           : 120px;
    vertical-align  : inherit;
}

.inner-form input[type="text"],
.inner-form input[type="url"],
.inner-form textarea,
.inner-form select {
    width: 300px;
}

.inner-form.editable select {
    width: 321px;
}

input, textarea, select {
    padding: 10px;
}

#style_width, #style_height {
    width: 211px;
}

#responses_min, #responses_max {
    width: 460px;
}

ul {
  list-style: none;
}

#responses-min {
    margin-bottom: 13px;
}

.error {
  background: #e74c3c;
  color     : #000;
}

#contents select {
    width   :100%;
    padding : 10px;
}
#contents th,
#contents td {
    padding         : 5px;
    min-width       : 120px;
    width           : 120px;
    border-bottom   : 1px solid #111;
}

#contents th,
#properties_table th {
    text-align  : left;
    padding-left: 15px;
    color       : #888888;
}

#properties_table tr,
#contents tbody tr {
    height: 55px;
}
#contents span {
    padding: 10px;
}
.cat-prop,
.output-content {
    cursor: pointer;
}

#properties_table th,
#properties_table td {
    padding         : 5px;
    min-width       : 120px;
    border-bottom   : 1px solid #111;
}

#contents td.content-controls,
#properties td.content-controls {
    text-align  : left;
    padding-left: 15px;
}

#properties_table tfoot,
#properties_table .inner-form {
    display: none;
}

#properties_table .inner-form.editable {
    display:table-row;
}

table#contents,
table#properties_table {
    border-spacing  : 0;
    width           : 100%;
}

table#contents a,
table#properties_table a:not(.add-property-option) {
    background-color: #C0392B;
    color           : #DDDDDD;
    padding         : 8px 10px;
    border          : 1px solid black;
    border-radius   : 2px;
    text-decoration : none;
    box-shadow      : 0 1px 0 rgba(255, 255, 255, .2) inset;
    transition      : color ease-in .3s, background-color ease-in .3s;
}

table#contents a:hover,
table#properties_table a:hover:not(.add-property-option) {
    background-color: #D44435;
    color           : #FFF;
    padding         : 8px 10px;
    box-shadow      : 0 1px 0 rgba(255,255,255,.2) inset;
}

table#contents a:active,
table#properties_table a:active:not(.add-property-option) {
    background-color: #C0392B;
    color           : #FFF;
    padding         : 8px 10px;
    box-shadow      : 0 0 10px 0 rgba(0,0,0,.8) inset;
}

.add-property-option {
    background-color: #BBB;
    color           : #222 !important;
    padding         : 8px 10px;
    border          : 1px solid black;
    border-radius   : 2px;
    text-decoration : none;
    box-shadow      : 0 1px 0 rgba(255, 255, 255, .2) inset;
    transition      : color ease-in .3s, background-color ease-in .3s;
}

.add-property-option:hover {
    background-color: #CCC;
    color           : #000;
}

.add-property-option:active {
    background-color: #BBB;
    color           : #000;
    box-shadow      : 0 0 10px 0 rgba(0,0,0,.8) inset;
}

.property-options-list-container {
    display: inline-block;
}

.property-options-list {
    overflow-y      : auto;
    overflow-x      : hidden;
    max-height      : 160px;
    width           : 350px;
    padding-bottom  : 10px;
}
.property-options-list,
.property-options-list-row {
    display: block;
}
.property-options-list-row {
    margin-bottom: 4px;
}
.inner-form .property-options-list-row input[type=text] {
    width: 125px;
}
.property-option-value {
    margin-right: 5px;
}
