html, body {
  margin: 0;
  padding:0;
  height :100vh;
}
body {
    display: flex;
    flex-direction: row;
}
nav, ul {
    margin:0;
    padding:0;
}
nav {
    width : 200px;
    height : 100vh;
}
nav li {
    margin-bottom : 20px;
}
nav a {
    display : block;
    padding : 10px;
    width   : 180px;
}
form {
  padding:0;
  margin:0;
  overflow: auto;
  flex : 1;
  height:100vh;
}

section {
    display : none;
}
section.active {
    display : block;
}

section > div {
    margin-left:10px;
}


label {
  width     : 170px;
  display   : inline-block;
  vertical-align: top;
}

input[type="text"], input[type="url"], textarea, select {
    width: 400px;
}
input, textarea, select {
    padding: 10px;
}

#style_width, #style_height {
    width: 181px;
}

#responses_min, #responses_max {
    width: 400px;
}

ul {
  list-style: none;
}

#responses-min {
    margin-bottom: 13px;
}

.error {
  background: red;
}

.form-controls {
    margin: 30px;
}
#contents select {
    width:100%;
    padding: 10px;
}
#contents th,
#contents td {
    padding : 5px;
    min-width : 120px;
    width : 120px;
}
#contents tbody tr {
    height : 55px;
}
#contents span {
    padding: 10px;
}

.output-content {
    cursor : pointer;
}
