html, body {
  margin: 0;
  padding:0;
  height :100vh;
}
body {
    display: flex;
    flex-direction: row;
}
nav, ul {
    margin:0;
    padding:0;
}
nav {
    width : 200px;
    height : 100vh;
}
nav li {
    /*margin-bottom : 20px;*/
}
nav a {
    display : block;
    padding : 10px;
    width   : 180px;
}
form {
  padding:0;
  margin:0;
  overflow: auto;
  flex : 1;
  height:100vh;
}

section {
    display : none;
}
section.active {
    display : block;
}

section > div {
    margin-left:10px;
}


label {
  width     : 170px;
  display   : inline-block;
  vertical-align: top;
}

input[type="text"], input[type="url"], textarea, select {
    width: 400px;
}

.inner-form label {
    width     : 120px;
}

.inner-form input[type="text"],
.inner-form input[type="url"],
.inner-form textarea,
.inner-form select {
    width: 300px;
}

input, textarea, select {
    padding: 10px;
}

#style_width, #style_height {
    width: 181px;
}

#responses_min, #responses_max {
    width: 400px;
}

ul {
  list-style: none;
}

#responses-min {
    margin-bottom: 13px;
}

.error {
  background: red;
}

.form-controls {
    margin: 30px;
}
#contents select {
    width:100%;
    padding: 10px;
}
#contents th,
#contents td {
    padding : 5px;
    min-width : 120px;
    width : 120px;
}
#properties_table tr,
#contents tbody tr {
    height : 55px;
}
#contents span {
    padding: 10px;
}
.cat-prop,
.output-content {
    cursor : pointer;
}


#properties_table th,
#properties_table td {
    padding : 5px;
    min-width : 120px;
}


#properties_table tfoot,
#properties_table .inner-form {
    display : none;
}

#properties_table .inner-form.editable {
    display:table-row;
}

.property-options-list-container {
    display : inline-block;
}

.property-options-list {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 160px;
    width: 350px;
}
.property-options-list,
.property-options-list-row {
    display : block;
}
.property-options-list-row {
    margin-bottom: 4px;
}
.inner-form .property-options-list-row input[type=text] {
    width : 125px;
}
.property-option-value {
    margin-right: 5px;
}
